.specific-img{
    height: 20rem;
    position: relative;
    transform-origin: top;
}
.specific-img img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.recipe-title{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-weight: 700;
    font-size: 3.25rem;
    text-transform: uppercase;
    width: 80%;
    line-height: 1.95;
    text-align: center;

}
.recipe-title span{
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1.3rem 2rem;
    background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
}

.recipe-details{
    height: 155px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
.recipe-details ul{
    display: flex;
    list-style: none;
    gap: 20px;
}



.bookmark-icon{
    background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading--2{
    font-size: 1.3rem;
    font-weight: 700;
    color: #f38e82;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    text-align: center;
}

.recipe-ingredients{
    background-color: #f2efee;
    padding: 2rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: #f2efee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-ingredients-list{
    height: 304px;
    width: 640px;
    list-style: none;
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-size: 17px;
gap: 25px;
}


.recipe-directions{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 8rem;
    text-align: center;
}