.logo {

    height: 3.6rem;
    display: block;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.search {
    background-color: #fff;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    transition: all .3s;
}

.search-field {
    border: none;
    background: none;

    color: inherit;
    font-size: 1rem;
    width: 20rem;
    outline: none;
}

.search-btn {
    background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
    border-radius: 10rem;
    border: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .2s;
    padding: 0.5rem 2.5rem;
    /* font-size: 1.5rem; */
    /* font-weight: 600; */
    gap: 7px;
}

.search-btn:hover {
    transform: scale(1.05);
}

.active{
    border: none;
    background: transparent;
    height: 100px;

}
.active:hover{
    background-color: rgb(215 209 207);
}

.navbar{
    position: relative;
}

.bookmark{
    background-color: #fff;
    width: 370px;
    min-height: 150px;
    position: absolute;
    top: 100%;
    z-index: 4;
    right: 0;
    outline: none;
    padding: 3px 0px;
}