.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.main-box {
  max-width: 75rem;
  min-height: 117rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem .5rem rgba(97, 85, 81, .2);
  padding: 0px !important;
}

.recipeListPortion {
  max-width: 75rem;
  /* border: 2px solid black; */
  display: flex;
}

.recipeBoxPortion{
  width: 800px;
  /* border: 2px solid black; */
  height: 1070px;
  background-color: #f9f5f3;
}